<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact us if you like. Just leave a message. I swear we really care. Totally. 
	<a href="http://railstutorial.org/contact">rails contact page</a>.
</p>
